.btn {
  height: 4.6rem;

  background-color: $color-third;
  color: $color-white;
  padding: 1rem 2rem;
  border-radius: 2.3rem;
  border: none;
  font-family: $second-font;
  font-weight: 600;
  &--large {
    width: 22rem;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  }
  &--small {
    width: 9.5rem;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  }
}
