.form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
  padding: 8.4rem 4rem 2.5rem;
  margin: 5rem auto 0;
  background-color: $color-primary;
  border-radius: 1.3rem;
  @include phablet {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  input {
    margin-bottom: 2.5rem;
    padding: 1.3rem 2rem;
    border-radius: 2.5rem;
    border: none;
    &::-webkit-input-placeholder {
      font-size: 1.7rem;
      line-height: 2rem;
      color: $color-dark-2;
    }
    &::-moz-placeholder {
      font-size: 1.7rem;
      line-height: 2rem;
      color: $color-dark-2;
    }
    &:-ms-input-placeholder {
      font-size: 1.7rem;
      line-height: 2rem;
      color: $color-dark-2;
    }
    &:-moz-placeholder {
      font-size: 1.7rem;
      line-height: 2rem;
      color: $color-dark-2;
    }
  }
  &__checkbox-label {
    position: relative;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
  }
  &__checkbox {
    margin: 0;
    position: relative;
  }
}
