.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  z-index: $header;
  &__wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }
}
