.hero {
  display: flex;
  @include portrait {
    flex-direction: column;
  }
  &__intro {
    text-align: left;
    color: $color-white;
    @include portrait {
      margin-left: 6.2rem;
    }
    h1 {
      max-width: 56rem;
      width: 100%;
      margin-top: 10rem;
      font-weight: 700;
      @include portrait {
        margin-top: 1.9rem;
      }
    }
  }
  &__col {
    width: 50%;
    @include portrait {
      width: 100%;
    }
  }
  &__play-btn {
    width: 6.3rem;
    height: 6.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $over-content;
    border: none;
    background: transparent;
  }
  &__img {
    @include resp-img((382/544) * 100%);
    width: 54.4rem;
    top: 1.6rem;
    right: -13.4rem;
    @include portrait {
      margin: 37rem auto 0;
      top: 0;
      right: 0;
    }
  }
}
