.hero {
  display: flex;
  width: 100%;
  @include portrait {
    flex-direction: column;
  }
  &__intro {
    text-align: left;
    color: $color-white;
    @include portrait {
      // margin-left: 6.2rem;
    }
    @include phablet {
      margin-left: 0;
    }
    h1 {
      max-width: 56rem;
      width: 100%;
      margin-top: 8rem;
      font-weight: 700;
      will-change: opacity, transform;
      @include portrait {
        margin: 13rem auto 0;
      }
      @include phablet {
        margin-top: 2rem;
      }
    }
  }
  &__col {
    width: 50%;
    @include portrait {
      width: 100%;
    }
  }
  &__play-btn {
    width: 6.3rem;
    height: 6.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $over-content;
    border: none;
    background: transparent;
    &:hover {
      cursor: pointer;
    }
  }
  &__img {
    @include resp-img((382/544) * 100%);
    max-width: 54.4rem;
    width: 100%;
    top: 0;
    right: -11.4rem;
    overflow: hidden;
    @include portrait {
      margin: 37rem auto 0;
      top: 0;
      right: 0;
    }
    @include phablet {
      margin-top: 15.6rem;
    }
    img {
      border-radius: 6px;
      opacity: 0;
    }
  }
  &__img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $over-content;
    background-color: $color-third;
    border-radius: 6px;
  }
}
