.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 22rem;
    @include phablet {
      width: 19.6rem;
    }
  }
  &__list-link {
    padding: 0 0.4rem 0.7rem;
    color: $color-dimmed;
    &.active {
      border-bottom: 2px solid $color-dimmed;
    }
  }
}
