.person {
  // width: 25%;
  &__img {
    width: 13rem;
    height: 13rem;
    @include phablet {
      width: 11.5rem;
      height: 11.5rem;
    }
  }
  &__name {
    margin-bottom: 0.8rem;
    color: $color-third;
  }
  &__desc {
    margin-top: 1rem;
    padding: 0 2rem;
    @include phablet {
      padding: 0 1rem;
    }
    @include phablet {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
  &__modal {
    display: none;
    position: fixed;
    z-index: $over-all;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  &__modal-trigger {
    margin: 0 auto 1.6rem;
    background: transparent;
    padding: 0;
    border: none;
    border-radius: 100%;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
  }
  &__socials-icon {
    display: block;
    width: 4.3rem;
    height: 2.3rem;
    margin: 0 0.3rem;
    border-radius: 3px;
    border: 1px solid #7f8b98;
  }
  &__socials-fb {
    width: 0.8rem;
  }
  &__socials-in {
    width: 1.2rem;
  }
}
