.scroll-down {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 12.2rem auto 0;
  position: relative;
  z-index: $over-content;
  @include portrait {
    position: absolute;
    top: 52rem;
    left: 50%;
    transform: translate(-50%);
  }
  @include phablet {
    width: 3rem;
    height: 3rem;
    top: 43.6rem;
    margin: 0;
  }
  &__icon {
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    @keyframes bounce {
      50% {
        transform: translateY(-10px);
      }
    }
  }
}
