.scroll-down {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 12.2rem auto 0;
  position: relative;
  z-index: $over-content;
  @include portrait {
    position: absolute;
    top: 52rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
