.socials {
  position: fixed;
  bottom: 1.6rem;
  right: 9.6rem;
  z-index: $header;
  @include portrait {
    // bottom: 13.6rem;
    right: 1.6rem;
  }
  @include phablet {
    right: 2.6rem;
  }
  &__fb,
  &__twitter {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 1rem 0;
    border-radius: 100%;
    @include phablet {
      width: 3rem;
      height: 3rem;
    }
  }
}
