.subscribe {
  margin-top: 7.4rem;
  &__title {
    margin-bottom: 1.8rem;
    opacity: 0.7;
  }
  &__form-group {
    display: flex;
  }
  input {
    max-width: 48rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 2.5rem;
    border: none;
  }
  .btn {
    margin-left: -7.5rem;
    font-size: 1.7rem;
    @include portrait {
      margin-left: -3rem;
    }
  }
}
