.subscribe {
  margin-top: 7.4rem;
  @include phablet {
    margin-top: 4.8rem;
  }
  &__title {
    margin-bottom: 1.8rem;
    opacity: 0.7;
    @include phablet {
      margin-bottom: 0.7rem;
      font-size: 1.4rem;
      line-height: 2.6rem;
    }
  }
  &__form-group {
    display: flex;
    width: 0;
    opacity: 0;
    @include phablet {
      flex-direction: column;
    }
  }
  input {
    max-width: 48rem;
    width: 100%;
    padding: 1.4rem 2rem;
    border-radius: 2.5rem;
    border: none;
    @include phablet {
      max-width: 100%;
    }
  }
  .btn {
    margin-left: -7.5rem;
    font-size: 1.7rem;
    @include portrait {
      margin-left: -3rem;
    }
    @include phablet {
      width: 100%;
      margin-top: 1.6rem;
      margin-left: 0;
    }
  }
}
