* {
  box-sizing: border-box;
}
html {
  font-size: vw(10);
  @include portrait {
    font-size: 10px;
  }
}
body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-dark;
  overflow-x: hidden;
}
main {
  margin-top: 7rem;
  overflow-x: hidden;
}
h1 {
  font-size: 4rem;
  line-height: 5.6rem;
}
h2 {
  font-size: 1.6rem;
  line-height: 3.4rem;
}
h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: $base-font-weight;
}
.text-normal {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.text-small {
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.visually-hidden {
  display: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
