$color-dark: #45515f;
$color-white: #ffffff;
$color-primary: #4250bf;
$color-secondary: #252b42;
$color-third: #38a5db;
$color-dimmed: #1c1f83;

$wrapper-width: 120rem;
$wrapper-padding: 2rem;
$vw-base: 1440;

$base-font: "Sen", sans-serif;
$second-font: "Open Sans", sans-serif;
$base-font-weight: 400;
$base-font-size: 1.8rem;
$base-line-height: 2.4rem;

$over-all: 99999999;
$header: 5000;
$over-content: 1000;
$below-content: -100;

//bp
$screen-mobile-sm: 320px;
$screen-mobile: 376px;
$screen-mobile-lg: 480px;
$screen-phablet: 576px;
$screen-portrait: 768px;
$screen-portrait-lg: 992px;
$screen-tablet: 1024px;
$screen-laptop-sm: 1200px;
