.section--team {
  padding: 5.5rem 0 8.8rem;
  h2 {
    text-transform: uppercase;
    letter-spacing: 1.2rem;
  }
  .section__wrapper {
    max-width: 124rem;
    @include portrait {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
