.section--contact {
  padding: 8.8rem 0 5.5rem;
  h2 {
    margin-bottom: 2.6rem;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
  }
  p {
    max-width: 34rem;
    width: 100%;
    margin: 0 auto;
    @include phablet {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}
