.section--team {
  padding: 3.8rem 0 8.8rem;
  // @include phablet {
  //   padding-top: 3.7rem;
  // }
  h2 {
    text-transform: uppercase;
    letter-spacing: 1.2rem;
  }
  .section__wrapper {
    max-width: 124rem;
    @include portrait {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
